<div class="container">
	<div class="row">
		<div class="col-6 justify-content-center p-5 border">
			<h1>Apply For {{course}}</h1>
			<form #joinForm="ngForm" (ngSubmit)="onSubmit(joinForm.value)">
				
				<input type="text" name="fn" class="form-control mt-3" placeholder="First Name" ngModel required #fn="ngModel">
				<span *ngIf="!fn.valid" class="text-danger">*First Name is Required</span>

				<input type="text" name="ln" class="form-control mt-3" placeholder="Last Name" ngModel required #ln="ngModel">
				<span *ngIf="!ln.valid" class="text-danger">*First Name is Required</span>
				
				<input type="email" name="em" class="form-control mt-3" placeholder="Email" ngModel required #em="ngModel">
				<span *ngIf="!em.valid" class="text-danger">*First Name is Required</span>
				
				<input type="phone" name="pn" class="form-control mt-3" placeholder="Phone no." ngModel required #pn="ngModel">
				<span *ngIf="!pn.valid" class="text-danger">*First Name is Required</span>
				<div>
				<button class="btn btn btn-success mt-3" [disabled]="!joinForm.valid">Apply Now</button></div>

			</form>
<table class="table mt-4" *ngIf="result">
	<tr><th>Name</th><td>{{joinForm.value.fn}} {{joinForm.value.ln}}</td></tr>
	<tr><th>Contact</th><td>{{joinForm.value.em}} {{joinForm.value.ph}}</td></tr>

</table>




		</div>

	</div>
</div>
